.cart_btn a {
	clear: both;
	background-color: #ff8000;
	color: white;
	width: 120px;
	display: block;
	float: right;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	font-weight: bold;
}

.cart_btn a:hover {
	background-color: #f4220b;
    color: #c0c0c0;
}

.image_product {
	width: 40%;
	float: left;
	border-left: dotted 1px;
	border-color: #808080;
}

.image_product img{
	width: 100%;
	height: 400px;
}


.info_product {
	width: 60%; 
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.name_book {
	color: #0080ff;
	font-size: 18pt;
}

.author_name {
	color: #0080ff;
	font-size: 16pt;
}

.info_product p {
	text-align: justify;
}

.number_price {
	color: red; 
	font-size:16pt;
}